*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    row-gap:2rem;
}
#heading{
    background: #01092c;
    color:#fff;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box{
    width: 80vw;
    height: 30vh;
    /* border:2px solid #000; */
    display: flex;
    justify-content: center;
    gap:1rem;
}
.choice{
    width: 10%;
    height: 70%;
    border-radius: 50%;
    font-size:5rem;
    border: none;
    background: none;
    cursor: pointer;
    transition:all ease-in-out 0.5s;
}
.choice:hover{
    transform:scale(1.2);
    background:#690340;
}
.score-board{
    width: 30vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    gap:2rem;
}
.score{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    border-radius:10px;
    text-align: center;
    background:green;
    font-size: 1.5rem;
    color:#fff;
}
#user,
#computer{
    font-size: 2.5rem;
}
.msgbox{
    /* width: 30vw;
    height: 10vh; */
    background-color:#690340;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    padding:1.1rem;
    display: inline;
}